{
    "parserOptions": {
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "node": true,
        "es2024": true
    },
    "globals": {
    },
    "extends": [
        "eslint:recommended"
    ],
    "rules": {
        "quotes": ["error", "double"]
    }
}

// Run with: npx eslint ./**/*.js